/* Projet réalisé par DU Alexandre */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

:root   {
    --blanche: #ffff;
    --noir: black;
    --gris : #888;
    --border: 2px solid none;
    --primaire : #007bc4; 
    --blue:#007bc4;
    --red:#e74c3c;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,.1);
    --border: 2px solid none;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
 }

html{
    scroll-behavior: smooth;

}

*,
*::before,
*::after{
    margin : 0;
    padding : 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    color: var(--noir);
    background-color: var(--light-bg);
}


ul,li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

.promo{
    background-color: var(--primaire);
    text-align: center;
    color: var(--blanche);
    padding: 2px 0;

}

.container{
    max-width: 114rem;
    margin: 0 auto;
}

@media only screen and (max-width: 1200px){
    .container{
        padding: 0 3rem;
    }
}

.navigation{
    height: 7rem;
    justify-content: space-around;
}

.d-flex{
    display: flex;
    align-items: center;
}

.icon1{
    display: none;
}

.menu .top{
    display:none
}

.logo{
    font-weight: 700;
    font-size: 2rem;
    padding: 0rem 1.5rem;
}

.logo span{
    font-size: 3rem;
    color :var(--primaire);
}

.nav-item:not(:last-child){
    margin: 0.5rem;
}

.nav-item:first-child .nav-link{
    color: var(--primaire);
}

.nav-link{
    padding: 0 1rem;
    transition: all 300ms ease-in-out
}

.nav-link:hover{
    color: var(--primaire);
}

.nav .icons div{
    font-size : 2rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 300ms ease-in-out
}

.nav .icons div:not(:last-child){
    margin: 0.5rem;
}

.nav .icons div:hover{
    color: var(--primaire);
}

.nav .icons div:last-child{
    position: relative;
}

.nav .icons div span{
    position: absolute;
    top: -0.5rem;
    right:-1.2rem;
    font-size: 1rem;
    font-weight: 600;
    color:var(--blanche);
    background-color: var(--primaire);
    height: 2.2rem;
    width : 2.2rem;
    border-radius: 50%;
}

.align-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width:768px){
    .navigation{
        padding: 1rem 0;
    }
    .menu{
        position:fixed;
        top : 0;
        left: -100%;
        background-color: var(--blanche);
        height: 100%;
        width: 80%;
        max-width: 45rem;
        box-shadow: 0 5px 15px rgba(0,0,0, 0.1);
        transition: all 500ms ease-in-out;
        z-index:100;
    }
    .icon1{

        display:block;
        font-size: 3rem;
        cursor: pointer
    }
    .icons{
        display: none;
    }
    .logo span{
        color: var(--primaire);
    }
    .logo  a{
        font-size: 1.6rem;
        font-weight: 400;
    }
    .menu .top{
        display: block;
        position: relative;
        background-color: var(--primaire);
        width: 100%;
        height: 6rem;
        color: var(--blanche);
    }
    
    .top span{
        display: flex;
        align-items: center;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        font-size: 2rem;
        cursor: pointer;
    }
    .top span{
        font-size: 3rem;
    }
    .nav-list{
        flex-direction: column;
        align-items: start;
        padding: 2rem 0;
    }

    .nav-item{
        margin: 0 0 2rem 0;
    }

    .nav-link{
        padding: 0.7rem;
    }

    .menu.montrer{
        left: 0;
    }
}


.btn{
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--primaire);
    padding: 1.3rem 5rem;
    color: var(--blanche);
    font-weight: 600;
    box-shadow: 0 1rem 1.5rem rgba(0,0,0,0.3);
    margin-top: 4rem;
}


.banniere-contenu .droite img{
    right: 0%;
    width: 65%;
    margin-left: 350px;
}

@media only screen and (max-width:996px){
    .banniere-contenu .gauche .titre{
        font-size: 3rem;
    }
    .btn{
        padding: 1.2rem 4rem;
    }
    .banniere-contenu .droite img{
        width: 90%;
    }
}

@media only screen and (max-width:567px){
    .banniere{
        height: calc(90vh - 7rem);
    }
    .banniere-contenu .gauche{
        margin-top: -20rem;
    }
    .banniere-contenu .gauche .titre{
        margin-bottom :1rem;
    }
    .banniere-contenu .droite img{
        width: 100%;
        height: 35rem;
        right: 0;
    }
}


.btn2,
.delete-btn, 
.option-btn{
    display: inline-block;
    border-radius: 5rem;
    background-color: var(--primaire);
    padding: 15px;
    color: var(--blanche);
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
    border: none;
}

.btn:hover,
.btn2:hover,
.delete-btn:hover, 
.option-btn:hover{
    scale: 1.05;
    transition: 1s;
}

.btn2{
    margin-top: 10px;
 }
 
.delete-btn{
    background-color: red;
 }
 
.option-btn{
    background-color: orange;
 }

.username{
    color: var(--blue)
 }


.message{
    position: sticky;
    top:0; left:0; right: 0;
    padding: 15px 10px;
    background-color: var(--white);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
    color: var(--black);
 }

 .form-container{
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
 }
 
 .form-container form{
    width: 500px;
    border-radius: 5px;
    border: var(--border);
    padding: 20px;
    text-align: center;
    background-color: var(--white);
 }
 
 .form-container form h3{
    font-size: 30px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: var(--black);
 }
 
 .form-container form .box{
    width: 100%;
    border-radius: 5px;
    border: var(--border);
    padding: 12px 14px;
    margin: 10px 0;
 }
 
 .form-container form p{
    margin-top: 20px;
    font-size: 20px;
    color : var(--black)
 }
 
 .form-container form p a{
    color: var(--red)
 }
 
 .form-container form p a:hover{
    text-decoration: underline;
 }

 .container2 {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
}

.left-div, .right-div {
    margin: 20px ;
    width: 48%; 
    background-color: white; 
    padding: 20px; 
    border: var(--border);
    box-sizing : border-box; 
    box-shadow: var(--box-shadow);
    margin: 20px;
}

img {
    width: 200px;
    height: 200px;
}

.text{
    text-align: center;
}

.container3 {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 100%; 
}

.center-div {
    margin: 20px ;
    width: 48%; 
    background-color: white; 
    padding: 20px; 
    border: var(--border);
    box-sizing : border-box; 
    box-shadow: var(--box-shadow);
    margin: 20px;
}

.username:hover,
.bx-shopping-bag:hover{
    scale: 1.05;
    transition: 1s;
}